---
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
import Form from "../components/Form.astro";
---

<MainLayout title="Forside">
  <p>Her kommer indholdet</p>

  <Testimonials />
  <Form />
</MainLayout>
