---
import LinkButton from "../components/LinkButton.astro";
---

<ul>
  <li>
    <LinkButton
      variant="linkDr"
      size="medium"
      linkTo="https://www.dr.dk/"
      text="til DR fordi Peter sadge det"
    />
  </li>
</ul>

<p>Copyright p</p>
